In [20]:
print("PRAISE THE LORD ALMIGHTY FATHER Thank You JESUS Praise You JESUS Forever May the HOLY SPIRIT Guide Us MOTHER MARY PRAY For Us SAINT JOSEPH, PRAY For Us SAINT ANTHONY PRAY For Us GOD BLESS !!! ‚õ™‚úùüß°‚úù‚õ™")

PRAISE THE LORD ALMIGHTY FATHER Thank You JESUS Praise You JESUS Forever May the HOLY SPIRIT Guide Us MOTHER MARY PRAY For Us SAINT JOSEPH, PRAY For Us SAINT ANTHONY PRAY For Us GOD BLESS !!! ‚õ™‚úùüß°‚úù‚õ™

In [21]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
pd.set_option('display.max_columns', None)

In [22]:
df_matches = pd.read_csv('2022_to_2023_all_matches.csv')

In [23]:
#Engineer the Run Rate according to the following rules 
def getRequiredRunRate_first_innings(over , wickets):
  if over < 6:
    if wickets < 1:
      return 10
    elif wickets>=1 and wickets<4:
      return  8
    else:
      6
  elif over >= 6 and over<15:
    if wickets < 1:
      return 11
    elif wickets>=1 and wickets<4:
      return  9
    elif wickets>=4 and wickets<6:
      return 8
    else:
      return 6  
  elif over >= 15 and over<20:
    if wickets < 1:
      return 15
    elif wickets>=1 and wickets<7:
      return  12
    else :
      return 10
    # code block 3

current_index = 0

while current_index < len(df_matches):
   if(df_matches['innings'][current_index] == 1):
     #print('Addding the First Innings Required Run Rate index is ' ,current_index)
     df_matches['req_run_rate'][current_index] = getRequiredRunRate_first_innings(df_matches['over'][current_index] , df_matches['over_start_total_wickets_fallen'][current_index])
   current_index = current_index + 1

C:\Users\Arul\AppData\Local\Temp\ipykernel_28728\2851207831.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['req_run_rate'][current_index] = getRequiredRunRate_first_innings(df_matches['over'][current_index] , df_matches['over_start_total_wickets_fallen'][current_index])

In [24]:
df_matches['date'] = df_matches['year'].apply(lambda x: x[1:-1])

In [25]:
df_matches['date'] = pd.to_datetime(df_matches['date'])

In [26]:
df_matches.dtypes

Unnamed: 0                                  int64
year                                       object
over_start_bowler_balls_bowled              int64
over_start_bowler_wickets_taken             int64
over_start_bowler_runs_given                int64
                                        ...
bat_off_str_NO                             object
bat_off_str_Runs                           object
bat_off_str_HS                             object
bat_off_str_BF                             object
date                               datetime64[ns]
Length: 65, dtype: object

In [27]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [29]:

# Iterate over the columns
for column in df_matches.columns:
    # Count the number of null values in the column
    null_count = df_matches[column].isnull().sum()

    # Display the column name and the number of null values
    print(f"Column '{column}' has {null_count} null values.")

Column 'Unnamed: 0' has 0 null values.
Column 'year' has 0 null values.
Column 'over_start_bowler_balls_bowled' has 0 null values.
Column 'over_start_bowler_wickets_taken' has 0 null values.
Column 'over_start_bowler_runs_given' has 0 null values.
Column 'over_start_batsman_on_strike_fours' has 0 null values.
Column 'over_start_batsman_on_strike_sixers' has 0 null values.
Column 'over_start_batsman_off_strike_balls_faced' has 0 null values.
Column 'over_start_batsman_on_strike_balls_faced' has 0 null values.
Column 'over_start_batsman_offstrike_runs' has 0 null values.
Column 'over_start_batsman_onstrike_runs' has 0 null values.
Column 'innings' has 0 null values.
Column 'match_num' has 0 null values.
Column 'country' has 0 null values.
Column 'target' has 0 null values.
Column 'req_run_rate' has 19 null values.
Column 'over_start_run_rate' has 0 null values.
Column 'over_start_total_score' has 0 null values.
Column 'over_start_total_wickets_fallen' has 0 null values.
Column 'over' has 0 null values.
Column 'Bowler' has 0 null values.
Column 'batter_onStrike' has 0 null values.
Column 'batter_offstrike' has 0 null values.
Column 'wickets_fallen' has 0 null values.
Column 'sixers' has 0 null values.
Column 'fours' has 0 null values.
Column 'total_runs' has 0 null values.
Column 'bat_on_str_Ave' has 468 null values.
Column 'bat_on_str_SR' has 468 null values.
Column 'bat_on_str_100' has 468 null values.
Column 'bat_on_str_50' has 468 null values.
Column 'bat_on_str_0' has 468 null values.
Column 'bat_on_str_4s' has 468 null values.
Column 'bat_on_str_6s' has 468 null values.
Column 'bat_on_str_Mat' has 468 null values.
Column 'bat_on_str_Inns' has 468 null values.
Column 'bat_on_str_NO' has 468 null values.
Column 'bat_on_str_Runs' has 468 null values.
Column 'bat_on_str_HS' has 468 null values.
Column 'bat_on_str_BF' has 468 null values.
Column 'bowler_Mat' has 736 null values.
Column 'bowler_Inns' has 736 null values.
Column 'bowler_Overs' has 736 null values.
Column 'bowler_Mdns' has 736 null values.
Column 'bowler_Runs' has 736 null values.
Column 'bowler_Wkts' has 736 null values.
Column 'bowler_Ave' has 736 null values.
Column 'bowler_Econ' has 736 null values.
Column 'bowler_SR' has 736 null values.
Column 'bowler_4w' has 736 null values.
Column 'bowler_5w' has 736 null values.
Column 'bat_off_str_Ave' has 499 null values.
Column 'bat_off_str_SR' has 499 null values.
Column 'bat_off_str_100' has 499 null values.
Column 'bat_off_str_50' has 499 null values.
Column 'bat_off_str_0' has 499 null values.
Column 'bat_off_str_4s' has 499 null values.
Column 'bat_off_str_6s' has 499 null values.
Column 'bat_off_str_Mat' has 499 null values.
Column 'bat_off_str_Inns' has 499 null values.
Column 'bat_off_str_NO' has 499 null values.
Column 'bat_off_str_Runs' has 499 null values.
Column 'bat_off_str_HS' has 499 null values.
Column 'bat_off_str_BF' has 499 null values.
Column 'date' has 0 null values.

In [30]:
## Replacing Null Values with Null

object_columns = ['wickets_fallen', 'sixers', 'fours', 'total_runs',
       'bat_on_str_Ave', 'bat_on_str_SR', 'bat_on_str_100', 'bat_on_str_50',
       'bat_on_str_0', 'bat_on_str_4s', 'bat_on_str_6s', 'bat_on_str_Mat',
       'bat_on_str_Inns', 'bat_on_str_NO', 'bat_on_str_Runs', 'bat_on_str_HS',
       'bat_on_str_BF', 'bowler_Mat', 'bowler_Inns', 'bowler_Overs',
       'bowler_Mdns', 'bowler_Runs', 'bowler_Wkts', 'bowler_Ave',
       'bowler_Econ', 'bowler_SR', 'bowler_4w', 'bowler_5w', 'bat_off_str_Ave',
       'bat_off_str_SR', 'bat_off_str_100', 'bat_off_str_50', 'bat_off_str_0',
       'bat_off_str_4s', 'bat_off_str_6s', 'bat_off_str_Mat',
       'bat_off_str_Inns', 'bat_off_str_NO', 'bat_off_str_Runs',
       'bat_off_str_HS', 'bat_off_str_BF']


for col in object_columns :
    df_matches[col].replace({'-': np.NaN , '':np.NaN , 'nan':np.NaN},inplace=True)

In [31]:
#Remove the star value in Batsman High Score

current_index = 0

while current_index < len(df_matches):
   try:
    df_matches['bat_off_str_HS'][current_index] = df_matches['bat_off_str_HS'][current_index].replace("*" , "")
   except:
     print("All good" , current_index)

   try:
    df_matches['bat_on_str_HS'][current_index] = df_matches['bat_on_str_HS'][current_index].replace("*" , "")
   except:
     print("All good" , current_index)
   
   current_index = current_index + 1

C:\Users\Arul\AppData\Local\Temp\ipykernel_28728\1425456917.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['bat_off_str_HS'][current_index] = df_matches['bat_off_str_HS'][current_index].replace("*" , "")
C:\Users\Arul\AppData\Local\Temp\ipykernel_28728\1425456917.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['bat_on_str_HS'][current_index] = df_matches['bat_on_str_HS'][current_index].replace("*" , "")

All good 2
All good 3
All good 4
All good 5
All good 6
All good 7
All good 8
All good 9
All good 10
All good 11
All good 12
All good 13
All good 20
All good 21
All good 22
All good 23
All good 24
All good 25
All good 563
All good 704
All good 705
All good 706
All good 707
All good 708
All good 744
All good 745
All good 746
All good 747
All good 748
All good 749
All good 750
All good 751
All good 752
All good 753
All good 754
All good 755
All good 756
All good 757
All good 758
All good 976
All good 1111
All good 1112
All good 1113
All good 1114
All good 1115
All good 1116
All good 1117
All good 1118
All good 1119
All good 1120
All good 1121
All good 1122
All good 1123
All good 1124
All good 1125
All good 1126
All good 1255
All good 1256
All good 1256
All good 1257
All good 1257
All good 1258
All good 1258
All good 1259
All good 1259
All good 1260
All good 1260
All good 1261
All good 1261
All good 1262
All good 1296
All good 1297
All good 1298
All good 1355
All good 1375
All good 1419
All good 1420
All good 1421
All good 1422
All good 1423
All good 1424
All good 1425
All good 1426
All good 1427
All good 1428
All good 1429
All good 1430
All good 1431
All good 1432
All good 1433
All good 1434
All good 1435
All good 1841
All good 1842
All good 2164
All good 2165
All good 2183
All good 2184
All good 2209
All good 2210
All good 2211
All good 2212
All good 2213
All good 2214
All good 2261
All good 2262
All good 2297
All good 2584
All good 2585
All good 2702
All good 2703
All good 2704
All good 2705
All good 2712
All good 2713
All good 2714
All good 2715
All good 2716
All good 2729
All good 2730
All good 2731
All good 2733
All good 2734
All good 2743
All good 2744
All good 2745
All good 2746
All good 2747
All good 2748
All good 2807
All good 2817
All good 2818
All good 2820
All good 2821
All good 2827
All good 2847
All good 3090
All good 3091
All good 3092
All good 3215
All good 3330
All good 3369
All good 3370
All good 3371
All good 3476
All good 3477
All good 3478
All good 3479
All good 3480
All good 3481
All good 3482
All good 3483
All good 3484
All good 3779
All good 3852
All good 3853
All good 3854
All good 3855
All good 3856
All good 3857
All good 3858
All good 3909
All good 4201
All good 4202
All good 4267
All good 4268
All good 4269
All good 4270
All good 4271
All good 4272
All good 4273
All good 4274
All good 4275
All good 4497
All good 4498
All good 4562
All good 4563
All good 4564
All good 4640
All good 4641
All good 4642
All good 4643
All good 4644
All good 4645
All good 4646
All good 4647
All good 4648
All good 4652
All good 4653
All good 4711
All good 4712
All good 5740
All good 5741
All good 5800
All good 5801
All good 5802
All good 5862
All good 5876
All good 5877
All good 5878
All good 5879
All good 5994
All good 5998
All good 5999
All good 6000
All good 6001
All good 6002
All good 6003
All good 6004
All good 6005
All good 6073
All good 6084
All good 6085
All good 6086
All good 6138
All good 6153
All good 6154
All good 6157
All good 6158
All good 6296
All good 6297
All good 6337
All good 6338
All good 6339
All good 6340
All good 6341
All good 6342
All good 6343
All good 6344
All good 6345
All good 6346
All good 6347
All good 6348
All good 6349
All good 6350
All good 6351
All good 6352
All good 6353
All good 6354
All good 6355
All good 6356
All good 6372
All good 6373
All good 6374
All good 6521
All good 6532
All good 6534
All good 6535
All good 6536
All good 6537
All good 6565
All good 6566
All good 6567
All good 6568
All good 6571
All good 6583
All good 6584
All good 6585
All good 6586
All good 6587
All good 6588
All good 6589
All good 6682
All good 6683
All good 6684
All good 6920
All good 6921
All good 6922
All good 6923
All good 6924
All good 6925
All good 6926
All good 6927
All good 6928
All good 6929
All good 6933
All good 6934
All good 6935
All good 6936
All good 6937
All good 6942
All good 6992
All good 7026
All good 7054
All good 7055
All good 7056
All good 7057
All good 7058
All good 7059
All good 7060
All good 7061
All good 7062
All good 7063
All good 7064
All good 7065
All good 7066
All good 7067
All good 7084
All good 7085
All good 7086
All good 7087
All good 7088
All good 7169
All good 7169
All good 7170
All good 7170
All good 7171
All good 7171
All good 7172
All good 7172
All good 7173
All good 7173
All good 7174
All good 7174
All good 7175
All good 7175
All good 7176
All good 7176
All good 7177
All good 7177
All good 7212
All good 7213
All good 7417
All good 7422
All good 7423
All good 7424
All good 7425
All good 7426
All good 7427
All good 7428
All good 7429
All good 7502
All good 7503
All good 7504
All good 7505
All good 7506
All good 7507
All good 7508
All good 7509
All good 7510
All good 7511
All good 7512
All good 7513
All good 7569
All good 7600
All good 7601
All good 8011
All good 8012
All good 8013
All good 8014
All good 8015
All good 8016
All good 8017
All good 8018
All good 8019
All good 8020
All good 8021
All good 8022
All good 8023
All good 8024
All good 8025
All good 8026
All good 8146
All good 8164
All good 8164
All good 8165
All good 8165
All good 8166
All good 8166
All good 8220
All good 8221
All good 8222
All good 8223
All good 8224
All good 8225
All good 8225
All good 8404
All good 8625
All good 8626
All good 8627
All good 8628
All good 8629
All good 8630
All good 8631
All good 8671
All good 8730
All good 8731
All good 8732
All good 8732
All good 8733
All good 8734
All good 8739
All good 8810
All good 8811
All good 8812
All good 8813
All good 8814
All good 8815
All good 8816
All good 8817
All good 8818
All good 8819
All good 8870
All good 8871
All good 8872
All good 8873
All good 8874
All good 8875
All good 8876
All good 8877
All good 8878
All good 8879
All good 8880
All good 8881
All good 8882
All good 8890
All good 9019
All good 9023
All good 9024
All good 9025
All good 9026
All good 9027
All good 9028
All good 9029
All good 9030
All good 9031
All good 9032
All good 9037
All good 9038
All good 9039
All good 9128
All good 9129
All good 9130
All good 9134
All good 9135
All good 9136
All good 9137
All good 9138
All good 9139
All good 9140
All good 9151
All good 9152
All good 9298
All good 9299
All good 9300
All good 9301
All good 9315
All good 9316
All good 9338
All good 9339
All good 9340
All good 9395
All good 9396
All good 9454
All good 9455
All good 9456
All good 9457
All good 9477
All good 9504
All good 9504
All good 9505
All good 9505
All good 9595
All good 9596
All good 9612
All good 9683
All good 9684
All good 9685
All good 9686
All good 9687
All good 9703
All good 9710
All good 9711
All good 9712
All good 9713
All good 9714
All good 9715
All good 9716
All good 9717
All good 9718
All good 9719
All good 9740
All good 9741
All good 9742
All good 9770
All good 9771
All good 9772
All good 9773
All good 9815
All good 9816
All good 9817
All good 9818
All good 9819
All good 9820
All good 9821
All good 9822
All good 9859
All good 9860
All good 9861
All good 9862
All good 9989
All good 9990
All good 9991
All good 9992
All good 9993
All good 9994
All good 10129
All good 10130
All good 10131
All good 10132
All good 10133
All good 10134
All good 10135
All good 10389
All good 10422
All good 10423
All good 10424
All good 10425
All good 10426
All good 10443
All good 10522
All good 10523
All good 10524
All good 10525
All good 10526
All good 10527
All good 10528
All good 10529
All good 10530
All good 10531
All good 10532
All good 10533
All good 10602
All good 10602
All good 10603
All good 10603
All good 10624
All good 10625
All good 10626
All good 10627
All good 10628
All good 10629
All good 10630
All good 10631
All good 10650
All good 10651
All good 10652
All good 10653
All good 10654
All good 10655
All good 10656
All good 10657
All good 10658
All good 10659
All good 10660
All good 10661
All good 10662
All good 10793
All good 10794
All good 10795
All good 10796
All good 10797
All good 10798
All good 10799
All good 10800
All good 10801
All good 10802
All good 10802
All good 10803
All good 10803
All good 10804
All good 10804
All good 10805
All good 10805
All good 10806
All good 10807
All good 10809
All good 10810
All good 10811
All good 10863
All good 10864
All good 10889
All good 10930
All good 10931
All good 10932
All good 10933
All good 11100
All good 11101
All good 11141
All good 11142
All good 11143
All good 11327
All good 11328
All good 11354
All good 11411
All good 11412
All good 11413
All good 11414
All good 11415
All good 11520
All good 11521
All good 11522
All good 11573
All good 11764
All good 11765
All good 11860
All good 11908
All good 11909
All good 11910
All good 11911
All good 11912
All good 11912
All good 11913
All good 11913
All good 11914
All good 11914
All good 11915
All good 11916
All good 11976
All good 12007
All good 12007
All good 12008
All good 12008
All good 12009
All good 12009
All good 12010
All good 12010
All good 12030
All good 12031
All good 12032
All good 12033
All good 12072
All good 12073
All good 12074
All good 12075
All good 12076
All good 12077
All good 12080
All good 12081
All good 12082
All good 12083
All good 12087
All good 12088
All good 12109
All good 12110
All good 12111
All good 12127
All good 12128
All good 12129
All good 12241
All good 12242
All good 12243
All good 12244
All good 12245
All good 12246
All good 12247
All good 12248
All good 12249
All good 12250
All good 12316
All good 12317
All good 12318
All good 12319
All good 12320
All good 12321
All good 12322
All good 12323
All good 12324
All good 12325
All good 12378
All good 12379
All good 12380
All good 12381
All good 12382
All good 12392
All good 12393
All good 12394
All good 12395
All good 12396
All good 12397
All good 12398
All good 12399
All good 12400
All good 12401
All good 12402
All good 12403
All good 12404
All good 12405
All good 12406
All good 12450
All good 12486
All good 12487
All good 12592
All good 12607
All good 12668
All good 12690
All good 12704
All good 12705
All good 12705
All good 12706
All good 12707
All good 12725
All good 12726
All good 12727
All good 12774
All good 12775
All good 12865
All good 12866
All good 12872
All good 12873
All good 12874
All good 12875
All good 12900
All good 12901
All good 12902
All good 12903
All good 12904
All good 12905
All good 12906
All good 12907
All good 12908
All good 12909
All good 12934
All good 12935
All good 12975
All good 12975
All good 13027
All good 13028
All good 13029
All good 13030
All good 13031
All good 13032
All good 13033
All good 13169
All good 13182
All good 13183
All good 13189
All good 13223
All good 13224
All good 13225
All good 13226
All good 13227
All good 13228
All good 13229
All good 13245
All good 13246
All good 13247
All good 13422
All good 13423
All good 13424
All good 13430
All good 13431
All good 13432
All good 13433
All good 13434
All good 13435
All good 13436
All good 13437
All good 13499
All good 13499
All good 13500
All good 13500
All good 13501
All good 13501
All good 13502
All good 13502
All good 13503
All good 13503
All good 13504
All good 13504
All good 13505
All good 13505
All good 13511
All good 13512
All good 13513
All good 13514
All good 13517
All good 13518
All good 13519
All good 13581
All good 13582
All good 13600
All good 13601
All good 13602
All good 13603
All good 13604
All good 13616
All good 13617
All good 13618
All good 13619
All good 13620
All good 13621
All good 13645
All good 13646
All good 13647
All good 13648
All good 13649
All good 13717
All good 13813
All good 13813
All good 13878
All good 13879
All good 13880
All good 13881
All good 13882
All good 13883
All good 13884
All good 13885
All good 13886
All good 13887
All good 13888
All good 13889
All good 13890
All good 13890
All good 13891
All good 13891
All good 13899
All good 13900
All good 13901
All good 14050
All good 14138
All good 14139
All good 14164
All good 14171
All good 14172
All good 14216
All good 14243
All good 14244
All good 14245
All good 14246
All good 14247
All good 14248
All good 14249
All good 14250
All good 14251
All good 14252
All good 14260
All good 14261
All good 14262
All good 14263
All good 14264
All good 14265
All good 14266
All good 14267
All good 14268
All good 14269
All good 14270
All good 14271
All good 14272
All good 14273
All good 14274
All good 14282
All good 14283
All good 14359
All good 14360
All good 14361
All good 14421
All good 14480
All good 14481
All good 14481
All good 14501
All good 14519
All good 14520
All good 14521
All good 14531
All good 14532
All good 14541
All good 14752
All good 14753
All good 14754
All good 14755
All good 14756
All good 14757
All good 14758
All good 14759
All good 14760
All good 14761
All good 14762
All good 14763
All good 14764
All good 14765
All good 14766
All good 14846
All good 14861
All good 14861
All good 14862
All good 14862
All good 14863
All good 14863
All good 14864
All good 14865
All good 14866
All good 14867
All good 14868
All good 14906
All good 14907
All good 14908
All good 14909
All good 14910
All good 14911
All good 14912
All good 14913
All good 14914
All good 15026
All good 15027
All good 15028
All good 15029
All good 15044
All good 15044
All good 15045
All good 15045
All good 15135
All good 15135
All good 15136
All good 15136
All good 15137
All good 15137
All good 15138
All good 15138
All good 15141
All good 15223
All good 15224
All good 15225
All good 15226
All good 15227
All good 15228
All good 15229
All good 15230
All good 15231
All good 15232
All good 15233
All good 15234
All good 15235
All good 15295
All good 15296
All good 15422
All good 15423
All good 15424
All good 15425
All good 15426
All good 15427
All good 15428
All good 15429
All good 15430
All good 15431
All good 15432
All good 15434
All good 15444
All good 15445
All good 15446
All good 15447
All good 15448
All good 15449
All good 15450
All good 15489
All good 15645
All good 15646
All good 15647
All good 15748
All good 15749
All good 15750
All good 15785
All good 15786
All good 15863
All good 15882
All good 15919
All good 15920
All good 15921
All good 15922
All good 15956
All good 15957
All good 15958
All good 15959
All good 15960
All good 15961
All good 16020
All good 16021
All good 16022
All good 16023
All good 16085
All good 16086
All good 16087
All good 16088
All good 16089
All good 16090
All good 16091
All good 16347
All good 16378
All good 16565
All good 16566
All good 16567
All good 16603
All good 16604
All good 16660
All good 16745
All good 16746
All good 16747
All good 16748
All good 16749
All good 16750
All good 16751
All good 16752
All good 16753
All good 16754
All good 16755
All good 16787
All good 16788
All good 16789
All good 16790
All good 16791
All good 16792
All good 16793
All good 16794
All good 16867
All good 16868
All good 16869
All good 16870
All good 16871
All good 16872
All good 16911
All good 16912
All good 17037
All good 17038
All good 17039
All good 17040
All good 17041
All good 17042
All good 17043
All good 17044
All good 17045
All good 17046
All good 17047
All good 17048
All good 17049
All good 17050
All good 17075
All good 17076
All good 17077
All good 17078
All good 17079
All good 17080
All good 17081
All good 17082
All good 17083
All good 17084
All good 17091
All good 17248
All good 17248
All good 17324
All good 17325
All good 17326
All good 17327
All good 17328
All good 17329
All good 17330
All good 17478
All good 17479
All good 17553
All good 17554
All good 17555
All good 17556
All good 17607
All good 17607
All good 17608
All good 17608
All good 17609
All good 17609
All good 17610
All good 17610
All good 17611
All good 17611
All good 17612
All good 17612
All good 17613
All good 17613
All good 17614
All good 17614
All good 17615
All good 17615
All good 17616
All good 17616
All good 17672
All good 17673
All good 17674
All good 17675
All good 17676
All good 17677
All good 17678
All good 17679
All good 17680
All good 17681
All good 17682
All good 17683
All good 17684
All good 17685
All good 17686
All good 17687
All good 17693
All good 17694
All good 17695
All good 17751
All good 17774
All good 17774
All good 17775
All good 17775
All good 17793
All good 17794
All good 17795
All good 17814
All good 17815
All good 17815
All good 17862
All good 17897
All good 17938
All good 17939
All good 17940
All good 17941
All good 17942
All good 18020
All good 18021
All good 18031
All good 18045
All good 18045
All good 18046
All good 18046
All good 18047
All good 18047
All good 18048
All good 18048
All good 18049
All good 18049
All good 18088
All good 18089
All good 18090
All good 18091
All good 18092
All good 18093
All good 18094
All good 18095
All good 18096
All good 18097
All good 18098
All good 18099
All good 18161
All good 18162
All good 18331
All good 18449
All good 18512
All good 18513
All good 18514
All good 18515
All good 18516
All good 18517
All good 18518
All good 18577
All good 18577
All good 18578
All good 18578
All good 18579
All good 18579
All good 18642
All good 18643
All good 18644
All good 18645
All good 18646
All good 18647
All good 18648
All good 18649
All good 18650
All good 18651
All good 18652
All good 18653
All good 18944
All good 18945
All good 18946
All good 18947
All good 19009
All good 19009
All good 19010
All good 19010
All good 19011
All good 19011
All good 19062
All good 19063
All good 19070
All good 19071
All good 19085
All good 19086

In [32]:

# Iterate over the columns
for column in df_matches.columns:
    # Count the number of null values in the column
    null_count = df_matches[column].isnull().sum()

    # Display the column name and the number of null values
    print(f"Column '{column}' has {null_count} null values.")

Column 'Unnamed: 0' has 0 null values.
Column 'year' has 0 null values.
Column 'over_start_bowler_balls_bowled' has 0 null values.
Column 'over_start_bowler_wickets_taken' has 0 null values.
Column 'over_start_bowler_runs_given' has 0 null values.
Column 'over_start_batsman_on_strike_fours' has 0 null values.
Column 'over_start_batsman_on_strike_sixers' has 0 null values.
Column 'over_start_batsman_off_strike_balls_faced' has 0 null values.
Column 'over_start_batsman_on_strike_balls_faced' has 0 null values.
Column 'over_start_batsman_offstrike_runs' has 0 null values.
Column 'over_start_batsman_onstrike_runs' has 0 null values.
Column 'innings' has 0 null values.
Column 'match_num' has 0 null values.
Column 'country' has 0 null values.
Column 'target' has 0 null values.
Column 'req_run_rate' has 19 null values.
Column 'over_start_run_rate' has 0 null values.
Column 'over_start_total_score' has 0 null values.
Column 'over_start_total_wickets_fallen' has 0 null values.
Column 'over' has 0 null values.
Column 'Bowler' has 0 null values.
Column 'batter_onStrike' has 0 null values.
Column 'batter_offstrike' has 0 null values.
Column 'wickets_fallen' has 0 null values.
Column 'sixers' has 0 null values.
Column 'fours' has 0 null values.
Column 'total_runs' has 0 null values.
Column 'bat_on_str_Ave' has 697 null values.
Column 'bat_on_str_SR' has 586 null values.
Column 'bat_on_str_100' has 567 null values.
Column 'bat_on_str_50' has 567 null values.
Column 'bat_on_str_0' has 567 null values.
Column 'bat_on_str_4s' has 567 null values.
Column 'bat_on_str_6s' has 567 null values.
Column 'bat_on_str_Mat' has 468 null values.
Column 'bat_on_str_Inns' has 567 null values.
Column 'bat_on_str_NO' has 567 null values.
Column 'bat_on_str_Runs' has 567 null values.
Column 'bat_on_str_HS' has 567 null values.
Column 'bat_on_str_BF' has 567 null values.
Column 'bowler_Mat' has 736 null values.
Column 'bowler_Inns' has 813 null values.
Column 'bowler_Overs' has 813 null values.
Column 'bowler_Mdns' has 813 null values.
Column 'bowler_Runs' has 813 null values.
Column 'bowler_Wkts' has 813 null values.
Column 'bowler_Ave' has 1190 null values.
Column 'bowler_Econ' has 813 null values.
Column 'bowler_SR' has 1190 null values.
Column 'bowler_4w' has 813 null values.
Column 'bowler_5w' has 813 null values.
Column 'bat_off_str_Ave' has 773 null values.
Column 'bat_off_str_SR' has 650 null values.
Column 'bat_off_str_100' has 621 null values.
Column 'bat_off_str_50' has 621 null values.
Column 'bat_off_str_0' has 621 null values.
Column 'bat_off_str_4s' has 621 null values.
Column 'bat_off_str_6s' has 621 null values.
Column 'bat_off_str_Mat' has 499 null values.
Column 'bat_off_str_Inns' has 621 null values.
Column 'bat_off_str_NO' has 621 null values.
Column 'bat_off_str_Runs' has 621 null values.
Column 'bat_off_str_HS' has 621 null values.
Column 'bat_off_str_BF' has 621 null values.
Column 'date' has 0 null values.

In [39]:
df_matches.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19110 entries, 0 to 19109
Data columns (total 65 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 19110 non-null  int64
 1   year                                       19110 non-null  object
 2   over_start_bowler_balls_bowled             19110 non-null  int64
 3   over_start_bowler_wickets_taken            19110 non-null  int64
 4   over_start_bowler_runs_given               19110 non-null  int64
 5   over_start_batsman_on_strike_fours         19110 non-null  int64
 6   over_start_batsman_on_strike_sixers        19110 non-null  int64
 7   over_start_batsman_off_strike_balls_faced  19110 non-null  int64
 8   over_start_batsman_on_strike_balls_faced   19110 non-null  int64
 9   over_start_batsman_offstrike_runs          19110 non-null  int64
 10  over_start_batsman_onstrike_runs           19110 non-null  int64
 11  innings                                    19110 non-null  int64
 12  match_num                                  19110 non-null  int64
 13  country                                    19110 non-null  object
 14  target                                     19110 non-null  int64
 15  req_run_rate                               19091 non-null  float64
 16  over_start_run_rate                        19110 non-null  float64
 17  over_start_total_score                     19110 non-null  int64
 18  over_start_total_wickets_fallen            19110 non-null  int64
 19  over                                       19110 non-null  int64
 20  Bowler                                     19110 non-null  object
 21  batter_onStrike                            19110 non-null  object
 22  batter_offstrike                           19110 non-null  object
 23  wickets_fallen                             19110 non-null  int64
 24  sixers                                     19110 non-null  int64
 25  fours                                      19110 non-null  int64
 26  total_runs                                 19110 non-null  int64
 27  bat_on_str_Ave                             18413 non-null  object
 28  bat_on_str_SR                              18524 non-null  object
 29  bat_on_str_100                             18543 non-null  object
 30  bat_on_str_50                              18543 non-null  object
 31  bat_on_str_0                               18543 non-null  object
 32  bat_on_str_4s                              18543 non-null  object
 33  bat_on_str_6s                              18543 non-null  object
 34  bat_on_str_Mat                             18642 non-null  float64
 35  bat_on_str_Inns                            18543 non-null  object
 36  bat_on_str_NO                              18543 non-null  object
 37  bat_on_str_Runs                            18543 non-null  object
 38  bat_on_str_HS                              18543 non-null  object
 39  bat_on_str_BF                              18543 non-null  object
 40  bowler_Mat                                 18374 non-null  float64
 41  bowler_Inns                                18297 non-null  object
 42  bowler_Overs                               18297 non-null  object
 43  bowler_Mdns                                18297 non-null  object
 44  bowler_Runs                                18297 non-null  object
 45  bowler_Wkts                                18297 non-null  object
 46  bowler_Ave                                 17920 non-null  object
 47  bowler_Econ                                18297 non-null  object
 48  bowler_SR                                  17920 non-null  object
 49  bowler_4w                                  18297 non-null  object
 50  bowler_5w                                  18297 non-null  object
 51  bat_off_str_Ave                            18337 non-null  object
 52  bat_off_str_SR                             18460 non-null  object
 53  bat_off_str_100                            18489 non-null  object
 54  bat_off_str_50                             18489 non-null  object
 55  bat_off_str_0                              18489 non-null  object
 56  bat_off_str_4s                             18489 non-null  object
 57  bat_off_str_6s                             18489 non-null  object
 58  bat_off_str_Mat                            18611 non-null  float64
 59  bat_off_str_Inns                           18489 non-null  object
 60  bat_off_str_NO                             18489 non-null  object
 61  bat_off_str_Runs                           18489 non-null  object
 62  bat_off_str_HS                             18489 non-null  object
 63  bat_off_str_BF                             18489 non-null  object
 64  date                                       19110 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(20), object(39)
memory usage: 9.5+ MB

In [40]:
df_matches.columns

Index(['Unnamed: 0', 'year', 'over_start_bowler_balls_bowled',
       'over_start_bowler_wickets_taken', 'over_start_bowler_runs_given',
       'over_start_batsman_on_strike_fours',
       'over_start_batsman_on_strike_sixers',
       'over_start_batsman_off_strike_balls_faced',
       'over_start_batsman_on_strike_balls_faced',
       'over_start_batsman_offstrike_runs', 'over_start_batsman_onstrike_runs',
       'innings', 'match_num', 'country', 'target', 'req_run_rate',
       'over_start_run_rate', 'over_start_total_score',
       'over_start_total_wickets_fallen', 'over', 'Bowler', 'batter_onStrike',
       'batter_offstrike', 'wickets_fallen', 'sixers', 'fours', 'total_runs',
       'bat_on_str_Ave', 'bat_on_str_SR', 'bat_on_str_100', 'bat_on_str_50',
       'bat_on_str_0', 'bat_on_str_4s', 'bat_on_str_6s', 'bat_on_str_Mat',
       'bat_on_str_Inns', 'bat_on_str_NO', 'bat_on_str_Runs', 'bat_on_str_HS',
       'bat_on_str_BF', 'bowler_Mat', 'bowler_Inns', 'bowler_Overs',
       'bowler_Mdns', 'bowler_Runs', 'bowler_Wkts', 'bowler_Ave',
       'bowler_Econ', 'bowler_SR', 'bowler_4w', 'bowler_5w', 'bat_off_str_Ave',
       'bat_off_str_SR', 'bat_off_str_100', 'bat_off_str_50', 'bat_off_str_0',
       'bat_off_str_4s', 'bat_off_str_6s', 'bat_off_str_Mat',
       'bat_off_str_Inns', 'bat_off_str_NO', 'bat_off_str_Runs',
       'bat_off_str_HS', 'bat_off_str_BF', 'date'],
      dtype='object')

In [43]:
columns_to_convert = [ 'wickets_fallen', 'sixers', 'fours', 'total_runs',
       'bat_on_str_Ave', 'bat_on_str_SR', 'bat_on_str_100', 'bat_on_str_50',
       'bat_on_str_0', 'bat_on_str_4s', 'bat_on_str_6s', 'bat_on_str_Mat',
       'bat_on_str_Inns', 'bat_on_str_NO', 'bat_on_str_Runs', 'bat_on_str_HS',
       'bat_on_str_BF', 'bowler_Mat', 'bowler_Inns', 'bowler_Overs',
       'bowler_Mdns', 'bowler_Runs', 'bowler_Wkts', 'bowler_Ave',
       'bowler_Econ', 'bowler_SR', 'bowler_4w', 'bowler_5w', 'bat_off_str_Ave',
       'bat_off_str_SR', 'bat_off_str_100', 'bat_off_str_50', 'bat_off_str_0',
       'bat_off_str_4s', 'bat_off_str_6s', 'bat_off_str_Mat',
       'bat_off_str_Inns', 'bat_off_str_NO', 'bat_off_str_Runs',
       'bat_off_str_HS', 'bat_off_str_BF',]
df_matches[columns_to_convert] = df_matches[columns_to_convert].astype(float)

In [46]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19110 entries, 0 to 19109
Data columns (total 65 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 19110 non-null  int64
 1   year                                       19110 non-null  object
 2   over_start_bowler_balls_bowled             19110 non-null  int64
 3   over_start_bowler_wickets_taken            19110 non-null  int64
 4   over_start_bowler_runs_given               19110 non-null  int64
 5   over_start_batsman_on_strike_fours         19110 non-null  int64
 6   over_start_batsman_on_strike_sixers        19110 non-null  int64
 7   over_start_batsman_off_strike_balls_faced  19110 non-null  int64
 8   over_start_batsman_on_strike_balls_faced   19110 non-null  int64
 9   over_start_batsman_offstrike_runs          19110 non-null  int64
 10  over_start_batsman_onstrike_runs           19110 non-null  int64
 11  innings                                    19110 non-null  int64
 12  match_num                                  19110 non-null  int64
 13  country                                    19110 non-null  object
 14  target                                     19110 non-null  int64
 15  req_run_rate                               19091 non-null  float64
 16  over_start_run_rate                        19110 non-null  float64
 17  over_start_total_score                     19110 non-null  int64
 18  over_start_total_wickets_fallen            19110 non-null  int64
 19  over                                       19110 non-null  int64
 20  Bowler                                     19110 non-null  object
 21  batter_onStrike                            19110 non-null  object
 22  batter_offstrike                           19110 non-null  object
 23  wickets_fallen                             19110 non-null  float64
 24  sixers                                     19110 non-null  float64
 25  fours                                      19110 non-null  float64
 26  total_runs                                 19110 non-null  float64
 27  bat_on_str_Ave                             18413 non-null  float64
 28  bat_on_str_SR                              18524 non-null  float64
 29  bat_on_str_100                             18543 non-null  float64
 30  bat_on_str_50                              18543 non-null  float64
 31  bat_on_str_0                               18543 non-null  float64
 32  bat_on_str_4s                              18543 non-null  float64
 33  bat_on_str_6s                              18543 non-null  float64
 34  bat_on_str_Mat                             18642 non-null  float64
 35  bat_on_str_Inns                            18543 non-null  float64
 36  bat_on_str_NO                              18543 non-null  float64
 37  bat_on_str_Runs                            18543 non-null  float64
 38  bat_on_str_HS                              18543 non-null  float64
 39  bat_on_str_BF                              18543 non-null  float64
 40  bowler_Mat                                 18374 non-null  float64
 41  bowler_Inns                                18297 non-null  float64
 42  bowler_Overs                               18297 non-null  float64
 43  bowler_Mdns                                18297 non-null  float64
 44  bowler_Runs                                18297 non-null  float64
 45  bowler_Wkts                                18297 non-null  float64
 46  bowler_Ave                                 17920 non-null  float64
 47  bowler_Econ                                18297 non-null  float64
 48  bowler_SR                                  17920 non-null  float64
 49  bowler_4w                                  18297 non-null  float64
 50  bowler_5w                                  18297 non-null  float64
 51  bat_off_str_Ave                            18337 non-null  float64
 52  bat_off_str_SR                             18460 non-null  float64
 53  bat_off_str_100                            18489 non-null  float64
 54  bat_off_str_50                             18489 non-null  float64
 55  bat_off_str_0                              18489 non-null  float64
 56  bat_off_str_4s                             18489 non-null  float64
 57  bat_off_str_6s                             18489 non-null  float64
 58  bat_off_str_Mat                            18611 non-null  float64
 59  bat_off_str_Inns                           18489 non-null  float64
 60  bat_off_str_NO                             18489 non-null  float64
 61  bat_off_str_Runs                           18489 non-null  float64
 62  bat_off_str_HS                             18489 non-null  float64
 63  bat_off_str_BF                             18489 non-null  float64
 64  date                                       19110 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(43), int64(16), object(5)
memory usage: 9.5+ MB

In [47]:

# Iterate over the columns
for column in df_matches.columns:
    # Count the number of null values in the column
    null_count = df_matches[column].isnull().sum()

    # Display the column name and the number of null values
    print(f"Column '{column}' has {null_count} null values.")

Column 'Unnamed: 0' has 0 null values.
Column 'year' has 0 null values.
Column 'over_start_bowler_balls_bowled' has 0 null values.
Column 'over_start_bowler_wickets_taken' has 0 null values.
Column 'over_start_bowler_runs_given' has 0 null values.
Column 'over_start_batsman_on_strike_fours' has 0 null values.
Column 'over_start_batsman_on_strike_sixers' has 0 null values.
Column 'over_start_batsman_off_strike_balls_faced' has 0 null values.
Column 'over_start_batsman_on_strike_balls_faced' has 0 null values.
Column 'over_start_batsman_offstrike_runs' has 0 null values.
Column 'over_start_batsman_onstrike_runs' has 0 null values.
Column 'innings' has 0 null values.
Column 'match_num' has 0 null values.
Column 'country' has 0 null values.
Column 'target' has 0 null values.
Column 'req_run_rate' has 19 null values.
Column 'over_start_run_rate' has 0 null values.
Column 'over_start_total_score' has 0 null values.
Column 'over_start_total_wickets_fallen' has 0 null values.
Column 'over' has 0 null values.
Column 'Bowler' has 0 null values.
Column 'batter_onStrike' has 0 null values.
Column 'batter_offstrike' has 0 null values.
Column 'wickets_fallen' has 0 null values.
Column 'sixers' has 0 null values.
Column 'fours' has 0 null values.
Column 'total_runs' has 0 null values.
Column 'bat_on_str_Ave' has 697 null values.
Column 'bat_on_str_SR' has 586 null values.
Column 'bat_on_str_100' has 567 null values.
Column 'bat_on_str_50' has 567 null values.
Column 'bat_on_str_0' has 567 null values.
Column 'bat_on_str_4s' has 567 null values.
Column 'bat_on_str_6s' has 567 null values.
Column 'bat_on_str_Mat' has 468 null values.
Column 'bat_on_str_Inns' has 567 null values.
Column 'bat_on_str_NO' has 567 null values.
Column 'bat_on_str_Runs' has 567 null values.
Column 'bat_on_str_HS' has 567 null values.
Column 'bat_on_str_BF' has 567 null values.
Column 'bowler_Mat' has 736 null values.
Column 'bowler_Inns' has 813 null values.
Column 'bowler_Overs' has 813 null values.
Column 'bowler_Mdns' has 813 null values.
Column 'bowler_Runs' has 813 null values.
Column 'bowler_Wkts' has 813 null values.
Column 'bowler_Ave' has 1190 null values.
Column 'bowler_Econ' has 813 null values.
Column 'bowler_SR' has 1190 null values.
Column 'bowler_4w' has 813 null values.
Column 'bowler_5w' has 813 null values.
Column 'bat_off_str_Ave' has 773 null values.
Column 'bat_off_str_SR' has 650 null values.
Column 'bat_off_str_100' has 621 null values.
Column 'bat_off_str_50' has 621 null values.
Column 'bat_off_str_0' has 621 null values.
Column 'bat_off_str_4s' has 621 null values.
Column 'bat_off_str_6s' has 621 null values.
Column 'bat_off_str_Mat' has 499 null values.
Column 'bat_off_str_Inns' has 621 null values.
Column 'bat_off_str_NO' has 621 null values.
Column 'bat_off_str_Runs' has 621 null values.
Column 'bat_off_str_HS' has 621 null values.
Column 'bat_off_str_BF' has 621 null values.
Column 'date' has 0 null values.

In [49]:
column_to_fill = 'req_run_rate'
df_matches[column_to_fill] = df_matches[column_to_fill].fillna(10)

In [50]:

# Iterate over the columns
for column in df_matches.columns:
    # Count the number of null values in the column
    null_count = df_matches[column].isnull().sum()

    # Display the column name and the number of null values
    print(f"Column '{column}' has {null_count} null values.")

Column 'Unnamed: 0' has 0 null values.
Column 'year' has 0 null values.
Column 'over_start_bowler_balls_bowled' has 0 null values.
Column 'over_start_bowler_wickets_taken' has 0 null values.
Column 'over_start_bowler_runs_given' has 0 null values.
Column 'over_start_batsman_on_strike_fours' has 0 null values.
Column 'over_start_batsman_on_strike_sixers' has 0 null values.
Column 'over_start_batsman_off_strike_balls_faced' has 0 null values.
Column 'over_start_batsman_on_strike_balls_faced' has 0 null values.
Column 'over_start_batsman_offstrike_runs' has 0 null values.
Column 'over_start_batsman_onstrike_runs' has 0 null values.
Column 'innings' has 0 null values.
Column 'match_num' has 0 null values.
Column 'country' has 0 null values.
Column 'target' has 0 null values.
Column 'req_run_rate' has 0 null values.
Column 'over_start_run_rate' has 0 null values.
Column 'over_start_total_score' has 0 null values.
Column 'over_start_total_wickets_fallen' has 0 null values.
Column 'over' has 0 null values.
Column 'Bowler' has 0 null values.
Column 'batter_onStrike' has 0 null values.
Column 'batter_offstrike' has 0 null values.
Column 'wickets_fallen' has 0 null values.
Column 'sixers' has 0 null values.
Column 'fours' has 0 null values.
Column 'total_runs' has 0 null values.
Column 'bat_on_str_Ave' has 697 null values.
Column 'bat_on_str_SR' has 586 null values.
Column 'bat_on_str_100' has 567 null values.
Column 'bat_on_str_50' has 567 null values.
Column 'bat_on_str_0' has 567 null values.
Column 'bat_on_str_4s' has 567 null values.
Column 'bat_on_str_6s' has 567 null values.
Column 'bat_on_str_Mat' has 468 null values.
Column 'bat_on_str_Inns' has 567 null values.
Column 'bat_on_str_NO' has 567 null values.
Column 'bat_on_str_Runs' has 567 null values.
Column 'bat_on_str_HS' has 567 null values.
Column 'bat_on_str_BF' has 567 null values.
Column 'bowler_Mat' has 736 null values.
Column 'bowler_Inns' has 813 null values.
Column 'bowler_Overs' has 813 null values.
Column 'bowler_Mdns' has 813 null values.
Column 'bowler_Runs' has 813 null values.
Column 'bowler_Wkts' has 813 null values.
Column 'bowler_Ave' has 1190 null values.
Column 'bowler_Econ' has 813 null values.
Column 'bowler_SR' has 1190 null values.
Column 'bowler_4w' has 813 null values.
Column 'bowler_5w' has 813 null values.
Column 'bat_off_str_Ave' has 773 null values.
Column 'bat_off_str_SR' has 650 null values.
Column 'bat_off_str_100' has 621 null values.
Column 'bat_off_str_50' has 621 null values.
Column 'bat_off_str_0' has 621 null values.
Column 'bat_off_str_4s' has 621 null values.
Column 'bat_off_str_6s' has 621 null values.
Column 'bat_off_str_Mat' has 499 null values.
Column 'bat_off_str_Inns' has 621 null values.
Column 'bat_off_str_NO' has 621 null values.
Column 'bat_off_str_Runs' has 621 null values.
Column 'bat_off_str_HS' has 621 null values.
Column 'bat_off_str_BF' has 621 null values.
Column 'date' has 0 null values.

In [54]:
mean_column_to_fill = ['wickets_fallen', 'sixers', 'fours', 'total_runs',
       'bat_on_str_Ave', 'bat_on_str_SR', 'bat_on_str_100', 'bat_on_str_50',
       'bat_on_str_0', 'bat_on_str_4s', 'bat_on_str_6s', 'bat_on_str_Mat',
       'bat_on_str_Inns', 'bat_on_str_NO', 'bat_on_str_Runs', 'bat_on_str_HS',
       'bat_on_str_BF', 'bowler_Mat', 'bowler_Inns', 'bowler_Overs',
       'bowler_Mdns', 'bowler_Runs', 'bowler_Wkts', 'bowler_Ave',
       'bowler_Econ', 'bowler_SR', 'bowler_4w', 'bowler_5w', 'bat_off_str_Ave',
       'bat_off_str_SR', 'bat_off_str_100', 'bat_off_str_50', 'bat_off_str_0',
       'bat_off_str_4s', 'bat_off_str_6s', 'bat_off_str_Mat',
       'bat_off_str_Inns', 'bat_off_str_NO', 'bat_off_str_Runs',
       'bat_off_str_HS', 'bat_off_str_BF']

In [55]:
for column in mean_column_to_fill:
    df_matches[column] = df_matches[column].fillna(df_matches[column].mean())

In [56]:

# Iterate over the columns
for column in df_matches.columns:
    # Count the number of null values in the column
    null_count = df_matches[column].isnull().sum()

    # Display the column name and the number of null values
    print(f"Column '{column}' has {null_count} null values.")

Column 'Unnamed: 0' has 0 null values.
Column 'year' has 0 null values.
Column 'over_start_bowler_balls_bowled' has 0 null values.
Column 'over_start_bowler_wickets_taken' has 0 null values.
Column 'over_start_bowler_runs_given' has 0 null values.
Column 'over_start_batsman_on_strike_fours' has 0 null values.
Column 'over_start_batsman_on_strike_sixers' has 0 null values.
Column 'over_start_batsman_off_strike_balls_faced' has 0 null values.
Column 'over_start_batsman_on_strike_balls_faced' has 0 null values.
Column 'over_start_batsman_offstrike_runs' has 0 null values.
Column 'over_start_batsman_onstrike_runs' has 0 null values.
Column 'innings' has 0 null values.
Column 'match_num' has 0 null values.
Column 'country' has 0 null values.
Column 'target' has 0 null values.
Column 'req_run_rate' has 0 null values.
Column 'over_start_run_rate' has 0 null values.
Column 'over_start_total_score' has 0 null values.
Column 'over_start_total_wickets_fallen' has 0 null values.
Column 'over' has 0 null values.
Column 'Bowler' has 0 null values.
Column 'batter_onStrike' has 0 null values.
Column 'batter_offstrike' has 0 null values.
Column 'wickets_fallen' has 0 null values.
Column 'sixers' has 0 null values.
Column 'fours' has 0 null values.
Column 'total_runs' has 0 null values.
Column 'bat_on_str_Ave' has 0 null values.
Column 'bat_on_str_SR' has 0 null values.
Column 'bat_on_str_100' has 0 null values.
Column 'bat_on_str_50' has 0 null values.
Column 'bat_on_str_0' has 0 null values.
Column 'bat_on_str_4s' has 0 null values.
Column 'bat_on_str_6s' has 0 null values.
Column 'bat_on_str_Mat' has 0 null values.
Column 'bat_on_str_Inns' has 0 null values.
Column 'bat_on_str_NO' has 0 null values.
Column 'bat_on_str_Runs' has 0 null values.
Column 'bat_on_str_HS' has 0 null values.
Column 'bat_on_str_BF' has 0 null values.
Column 'bowler_Mat' has 0 null values.
Column 'bowler_Inns' has 0 null values.
Column 'bowler_Overs' has 0 null values.
Column 'bowler_Mdns' has 0 null values.
Column 'bowler_Runs' has 0 null values.
Column 'bowler_Wkts' has 0 null values.
Column 'bowler_Ave' has 0 null values.
Column 'bowler_Econ' has 0 null values.
Column 'bowler_SR' has 0 null values.
Column 'bowler_4w' has 0 null values.
Column 'bowler_5w' has 0 null values.
Column 'bat_off_str_Ave' has 0 null values.
Column 'bat_off_str_SR' has 0 null values.
Column 'bat_off_str_100' has 0 null values.
Column 'bat_off_str_50' has 0 null values.
Column 'bat_off_str_0' has 0 null values.
Column 'bat_off_str_4s' has 0 null values.
Column 'bat_off_str_6s' has 0 null values.
Column 'bat_off_str_Mat' has 0 null values.
Column 'bat_off_str_Inns' has 0 null values.
Column 'bat_off_str_NO' has 0 null values.
Column 'bat_off_str_Runs' has 0 null values.
Column 'bat_off_str_HS' has 0 null values.
Column 'bat_off_str_BF' has 0 null values.
Column 'date' has 0 null values.

In [57]:
df_matches

,Unnamed: 0,year,over_start_bowler_balls_bowled,over_start_bowler_wickets_taken,over_start_bowler_runs_given,over_start_batsman_on_strike_fours,over_start_batsman_on_strike_sixers,over_start_batsman_off_strike_balls_faced,over_start_batsman_on_strike_balls_faced,over_start_batsman_offstrike_runs,over_start_batsman_onstrike_runs,innings,match_num,country,target,req_run_rate,over_start_run_rate,over_start_total_score,over_start_total_wickets_fallen,over,Bowler,batter_onStrike,batter_offstrike,wickets_fallen,sixers,fours,total_runs,bat_on_str_Ave,bat_on_str_SR,bat_on_str_100,bat_on_str_50,bat_on_str_0,bat_on_str_4s,bat_on_str_6s,bat_on_str_Mat,bat_on_str_Inns,bat_on_str_NO,bat_on_str_Runs,bat_on_str_HS,bat_on_str_BF,bowler_Mat,bowler_Inns,bowler_Overs,bowler_Mdns,bowler_Runs,bowler_Wkts,bowler_Ave,bowler_Econ,bowler_SR,bowler_4w,bowler_5w,bat_off_str_Ave,bat_off_str_SR,bat_off_str_100,bat_off_str_50,bat_off_str_0,bat_off_str_4s,bat_off_str_6s,bat_off_str_Mat,bat_off_str_Inns,bat_off_str_NO,bat_off_str_Runs,bat_off_str_HS,bat_off_str_BF,date
0,0,['2015-11-26'],0,0,0,0,0,0,0,0,0,1,468,England,210,10.000000,0.000000,0,0,0,Anwar Ali,JJ Roy,AD Hales,0.0,0.0,0.0,5.0,14.000000,107.690000,0.000000,0.00000,0.000000,3.00000,2.000000,3.000000,3.000000,0.000000,42.000000,23.000000,39.000000,11.0,10.0,27.0,0.0,230.0,6.0,38.33,8.51,27.0,0.0,0.0,36.400000,137.010000,1.000000,7.000000,3.000000,114.000000,35.000000,35.000000,35.000000,5.000000,1092.000000,116.000000,797.0000,2015-11-26
1,1,['2015-11-26'],0,0,0,0,0,3,3,1,4,1,468,England,210,10.000000,5.000000,5,0,1,Sohail Tanvir,JJ Roy,AD Hales,1.0,0.0,2.0,11.0,14.000000,107.690000,0.000000,0.00000,0.000000,3.00000,2.000000,3.000000,3.000000,0.000000,42.000000,23.000000,39.000000,47.0,47.0,163.3,2.0,1158.0,42.0,27.57,7.08,23.3,0.0,0.0,36.400000,137.010000,1.000000,7.000000,3.000000,114.000000,35.000000,35.000000,35.000000,5.000000,1092.000000,116.000000,797.0000,2015-11-26
2,2,['2015-11-26'],6,0,5,1,0,0,6,0,6,1,468,England,210,8.000000,8.000000,16,1,2,Anwar Ali,AD Hales,JM Vince,1.0,0.0,0.0,2.0,36.400000,137.010000,1.000000,7.00000,3.000000,114.00000,35.000000,35.000000,35.000000,5.000000,1092.000000,116.000000,797.000000,11.0,10.0,27.0,0.0,230.0,6.0,38.33,8.51,27.0,0.0,0.0,26.287622,127.444488,0.282655,4.401536,1.991887,69.178322,28.380821,36.585675,32.818811,5.740116,771.773217,69.867867,589.3779,2015-11-26
3,3,['2015-11-26'],7,1,11,0,0,3,0,0,0,1,468,England,210,8.000000,6.000000,18,2,3,Sohail Tanvir,JM Vince,MM Ali,1.0,0.0,0.0,1.0,26.786413,127.426181,0.294666,4.70803,2.018821,73.22224,29.301893,37.571773,33.892412,5.860217,811.087095,71.457909,621.067087,47.0,47.0,163.3,2.0,1158.0,42.0,27.57,7.08,23.3,0.0,0.0,18.420000,127.720000,0.000000,1.000000,2.000000,14.000000,4.000000,8.000000,8.000000,1.000000,129.000000,72.000000,101.0000,2015-11-26
4,4,['2015-11-26'],12,1,7,0,0,1,2,0,0,1,468,England,210,8.000000,4.750000,19,3,4,Anwar Ali,JM Vince,EJG Morgan,0.0,0.0,1.0,6.0,26.786413,127.426181,0.294666,4.70803,2.018821,73.22224,29.301893,37.571773,33.892412,5.860217,811.087095,71.457909,621.067087,11.0,10.0,27.0,0.0,230.0,6.0,38.33,8.51,27.0,0.0,0.0,29.870000,134.020000,0.000000,7.000000,1.000000,105.000000,51.000000,52.000000,51.000000,10.000000,1225.000000,85.000000,914.0000,2015-11-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19105,19105,['2018-04-03'],6,0,19,5,0,19,36,20,46,2,665,Pakistan,154,5.875000,8.916667,107,1,12,OF Smith,Babar Azam,Hussain Talat,1.0,0.0,1.0,7.0,53.150000,127.490000,0.000000,4.00000,0.000000,67.00000,9.000000,19.000000,19.000000,6.000000,691.000000,97.000000,542.000000,30.0,17.0,48.3,1.0,377.0,17.0,22.17,7.77,17.1,0.0,0.0,52.000000,133.330000,0.000000,1.000000,0.000000,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,2018-04-03
19106,19106,['2018-04-03'],12,1,15,0,0,20,1,21,1,2,665,Pakistan,154,5.714286,8.769231,114,2,13,RR Emrit,Asif Ali,Hussain Talat,0.0,0.0,0.0,6.0,7.500000,150.000000,0.000000,0.00000,0.000000,1.00000,1.000000,2.000000,2.000000,0.000000,15.000000,14.000000,10.000000,3.0,3.0,12.0,0.0,132.0,3.0,44.00,11.00,24.0,0.0,0.0,52.000000,133.330000,0.000000,1.000000,0.000000,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,2018-04-03
19107,19107,['2018-04-03'],12,1,26,2,0,6,21,2,22,2,665,Pakistan,154,5.666667,8.571429,120,2,14,OF Smith,Hussain Talat,Asif Ali,0.0,0.0,1.0,12.0,52.000000,133.330000,0.000000,1.00000,0.000000,10.00000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.000000,30.0,17.0,48.3,1.0,377.0,17.0,22.17,7.77,17.1,0.0,0.0,7.500000,150.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,2.000000,0.000000,15.000000,14.000000,10.0000,2018-04-03
19108,19108,['2018-04-03'],18,1,21,1,0,24,11,26,8,2,665,Pakistan,154,4.400000,8.800000,132,2,15,RR Emrit,Asif Ali,Hussain Talat,0.0,0.0,0.0,7.0,7.500000,150.000000,0.000000,0.00000,0.000000,1.00000,1.000000,2.000000,2.000000,0.000000,15.000000,14.000000,10.000000,3.0,3.0,12.0,0.0,132.0,3.0,44.00,11.00,24.0,0.0,0.0,52.000000,133.330000,0.000000,1.000000,0.000000,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,2018-04-03
19109,19109,['2018-04-03'],12,0,22,1,0,26,15,27,14,2,665,Pakistan,154,3.750000,8.687500,139,2,16,KMA Paul,Asif Ali,Hussain Talat,0.0,1.0,2.0,15.0,7.500000,150.000000,0.000000,0.00000,0.000000,1.00000,1.000000,2.000000,2.000000,0.000000,15.000000,14.000000,10.000000,2.0,2.0,8.0,0.0,60.0,1.0,60.00,7.50,48.0,0.0,0.0,52.000000,133.330000,0.000000,1.000000,0.000000,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,2018-04-03

In [59]:
df_matches.insert(54,"y_is_wicket_fallen", " ")
#Add 1 and 0 if a wicket has fallen in the next over

current_index = 0

while current_index < len(df_matches):
   if df_matches['wickets_fallen'][current_index] > 0:   
      df_matches['y_is_wicket_fallen'][current_index] = 1
   else:
      df_matches['y_is_wicket_fallen'][current_index] = 0
      
   current_index = current_index + 1

C:\Users\Arul\AppData\Local\Temp\ipykernel_28728\2687773729.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['y_is_wicket_fallen'][current_index] = 0
C:\Users\Arul\AppData\Local\Temp\ipykernel_28728\2687773729.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_matches['y_is_wicket_fallen'][current_index] = 1

In [60]:
df_matches

,Unnamed: 0,year,over_start_bowler_balls_bowled,over_start_bowler_wickets_taken,over_start_bowler_runs_given,over_start_batsman_on_strike_fours,over_start_batsman_on_strike_sixers,over_start_batsman_off_strike_balls_faced,over_start_batsman_on_strike_balls_faced,over_start_batsman_offstrike_runs,over_start_batsman_onstrike_runs,innings,match_num,country,target,req_run_rate,over_start_run_rate,over_start_total_score,over_start_total_wickets_fallen,over,Bowler,batter_onStrike,batter_offstrike,wickets_fallen,sixers,fours,total_runs,bat_on_str_Ave,bat_on_str_SR,bat_on_str_100,bat_on_str_50,bat_on_str_0,bat_on_str_4s,bat_on_str_6s,bat_on_str_Mat,bat_on_str_Inns,bat_on_str_NO,bat_on_str_Runs,bat_on_str_HS,bat_on_str_BF,bowler_Mat,bowler_Inns,bowler_Overs,bowler_Mdns,bowler_Runs,bowler_Wkts,bowler_Ave,bowler_Econ,bowler_SR,bowler_4w,bowler_5w,bat_off_str_Ave,bat_off_str_SR,bat_off_str_100,y_is_wicket_fallen,bat_off_str_50,bat_off_str_0,bat_off_str_4s,bat_off_str_6s,bat_off_str_Mat,bat_off_str_Inns,bat_off_str_NO,bat_off_str_Runs,bat_off_str_HS,bat_off_str_BF,date
0,0,['2015-11-26'],0,0,0,0,0,0,0,0,0,1,468,England,210,10.000000,0.000000,0,0,0,Anwar Ali,JJ Roy,AD Hales,0.0,0.0,0.0,5.0,14.000000,107.690000,0.000000,0.00000,0.000000,3.00000,2.000000,3.000000,3.000000,0.000000,42.000000,23.000000,39.000000,11.0,10.0,27.0,0.0,230.0,6.0,38.33,8.51,27.0,0.0,0.0,36.400000,137.010000,1.000000,0,7.000000,3.000000,114.000000,35.000000,35.000000,35.000000,5.000000,1092.000000,116.000000,797.0000,2015-11-26
1,1,['2015-11-26'],0,0,0,0,0,3,3,1,4,1,468,England,210,10.000000,5.000000,5,0,1,Sohail Tanvir,JJ Roy,AD Hales,1.0,0.0,2.0,11.0,14.000000,107.690000,0.000000,0.00000,0.000000,3.00000,2.000000,3.000000,3.000000,0.000000,42.000000,23.000000,39.000000,47.0,47.0,163.3,2.0,1158.0,42.0,27.57,7.08,23.3,0.0,0.0,36.400000,137.010000,1.000000,1,7.000000,3.000000,114.000000,35.000000,35.000000,35.000000,5.000000,1092.000000,116.000000,797.0000,2015-11-26
2,2,['2015-11-26'],6,0,5,1,0,0,6,0,6,1,468,England,210,8.000000,8.000000,16,1,2,Anwar Ali,AD Hales,JM Vince,1.0,0.0,0.0,2.0,36.400000,137.010000,1.000000,7.00000,3.000000,114.00000,35.000000,35.000000,35.000000,5.000000,1092.000000,116.000000,797.000000,11.0,10.0,27.0,0.0,230.0,6.0,38.33,8.51,27.0,0.0,0.0,26.287622,127.444488,0.282655,1,4.401536,1.991887,69.178322,28.380821,36.585675,32.818811,5.740116,771.773217,69.867867,589.3779,2015-11-26
3,3,['2015-11-26'],7,1,11,0,0,3,0,0,0,1,468,England,210,8.000000,6.000000,18,2,3,Sohail Tanvir,JM Vince,MM Ali,1.0,0.0,0.0,1.0,26.786413,127.426181,0.294666,4.70803,2.018821,73.22224,29.301893,37.571773,33.892412,5.860217,811.087095,71.457909,621.067087,47.0,47.0,163.3,2.0,1158.0,42.0,27.57,7.08,23.3,0.0,0.0,18.420000,127.720000,0.000000,1,1.000000,2.000000,14.000000,4.000000,8.000000,8.000000,1.000000,129.000000,72.000000,101.0000,2015-11-26
4,4,['2015-11-26'],12,1,7,0,0,1,2,0,0,1,468,England,210,8.000000,4.750000,19,3,4,Anwar Ali,JM Vince,EJG Morgan,0.0,0.0,1.0,6.0,26.786413,127.426181,0.294666,4.70803,2.018821,73.22224,29.301893,37.571773,33.892412,5.860217,811.087095,71.457909,621.067087,11.0,10.0,27.0,0.0,230.0,6.0,38.33,8.51,27.0,0.0,0.0,29.870000,134.020000,0.000000,0,7.000000,1.000000,105.000000,51.000000,52.000000,51.000000,10.000000,1225.000000,85.000000,914.0000,2015-11-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19105,19105,['2018-04-03'],6,0,19,5,0,19,36,20,46,2,665,Pakistan,154,5.875000,8.916667,107,1,12,OF Smith,Babar Azam,Hussain Talat,1.0,0.0,1.0,7.0,53.150000,127.490000,0.000000,4.00000,0.000000,67.00000,9.000000,19.000000,19.000000,6.000000,691.000000,97.000000,542.000000,30.0,17.0,48.3,1.0,377.0,17.0,22.17,7.77,17.1,0.0,0.0,52.000000,133.330000,0.000000,1,1.000000,0.000000,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,2018-04-03
19106,19106,['2018-04-03'],12,1,15,0,0,20,1,21,1,2,665,Pakistan,154,5.714286,8.769231,114,2,13,RR Emrit,Asif Ali,Hussain Talat,0.0,0.0,0.0,6.0,7.500000,150.000000,0.000000,0.00000,0.000000,1.00000,1.000000,2.000000,2.000000,0.000000,15.000000,14.000000,10.000000,3.0,3.0,12.0,0.0,132.0,3.0,44.00,11.00,24.0,0.0,0.0,52.000000,133.330000,0.000000,0,1.000000,0.000000,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,2018-04-03
19107,19107,['2018-04-03'],12,1,26,2,0,6,21,2,22,2,665,Pakistan,154,5.666667,8.571429,120,2,14,OF Smith,Hussain Talat,Asif Ali,0.0,0.0,1.0,12.0,52.000000,133.330000,0.000000,1.00000,0.000000,10.00000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.000000,30.0,17.0,48.3,1.0,377.0,17.0,22.17,7.77,17.1,0.0,0.0,7.500000,150.000000,0.000000,0,0.000000,0.000000,1.000000,1.000000,2.000000,2.000000,0.000000,15.000000,14.000000,10.0000,2018-04-03
19108,19108,['2018-04-03'],18,1,21,1,0,24,11,26,8,2,665,Pakistan,154,4.400000,8.800000,132,2,15,RR Emrit,Asif Ali,Hussain Talat,0.0,0.0,0.0,7.0,7.500000,150.000000,0.000000,0.00000,0.000000,1.00000,1.000000,2.000000,2.000000,0.000000,15.000000,14.000000,10.000000,3.0,3.0,12.0,0.0,132.0,3.0,44.00,11.00,24.0,0.0,0.0,52.000000,133.330000,0.000000,0,1.000000,0.000000,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,2018-04-03
19109,19109,['2018-04-03'],12,0,22,1,0,26,15,27,14,2,665,Pakistan,154,3.750000,8.687500,139,2,16,KMA Paul,Asif Ali,Hussain Talat,0.0,1.0,2.0,15.0,7.500000,150.000000,0.000000,0.00000,0.000000,1.00000,1.000000,2.000000,2.000000,0.000000,15.000000,14.000000,10.000000,2.0,2.0,8.0,0.0,60.0,1.0,60.00,7.50,48.0,0.0,0.0,52.000000,133.330000,0.000000,0,1.000000,0.000000,10.000000,2.000000,2.000000,2.000000,0.000000,104.000000,63.000000,78.0000,2018-04-03

In [58]:
df_matches.to_csv('2022_to_2023_all_matches_preprocessed_v1.csv')